<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Field</title>
        <link rel="stylesheet" href="/components/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="/components/bootstrap/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="/components/jquery-ui/themes/base/all.css">
        <link rel="stylesheet" href="/components/dragtable/dragtable.css">
        <link rel="stylesheet" href="/assets/css/index.css" type="text/css">
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <input id="title" name="title" type="text" placeholder="Titre" required autofocus>
                </div>
                <div class="col-md-4">
                    <a class="btn btn-default" href="#" id="add_tpl" role="button" data-default_tpl="{{defaultTpl|json_encode()}}">Nouveau</a>
                </div>
                <div class="col-md-4">
                    <select class="form-control" name="list_tpl" id="list_tpl">
                        {% for files in persoFiles %}
                            <option value="{{files}}">{{ files }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" id="field_list">
                    <label>
                        <input type="checkbox" name="f1" id="f1" data-lip="F1" data-header="F1"> F1
                    </label>
                    <label>
                        <input type="checkbox" name="f2" id="f2" data-lip="F2" data-header="F2"> F2
                    </label>
                    <label>
                        <input type="checkbox" name="f3" id="f3" data-lip="F3" data-header="F3"> F3
                    </label>
                    <label>
                        <input type="checkbox" name="f4" id="f4" data-lip="F4" data-header="F4"> F4
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table class="table" id="table">
                        <thead>
                            <tr>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                            </tr>
                            <tr>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button type="button" class="btn btn-primary" id="save_tpl">Save</button>
            </div>
        </div>
    </div>

    <!-- Latest compiled and minified JavaScript -->
    <script src="/components/jquery/jquery.min.js"></script>
    <script src="/components/jquery-ui/jquery-ui.min.js"></script>
    <script src="/components/bootstrap/js/bootstrap.min.js"></script>
    <script src="/components/dragtable/jquery.dragtable.js"></script>
    <script src="/components/Radio/radio.min.js"></script>
    <script src="/assets/js/index.js"></script>
</body>
</html>
